{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}

<div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{url_for('.detail',p_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{post.timestamp}}  by {{post.author}} </p>
            <hr>
            <p>{{post.content_html|safe}}</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
        
       {% include 'sidebar.html'%}

 </div><!-- /.row -->

{% endblock %}