{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="row">
	<div class="page-header">
	<h1>Post New One</h1>
	</div>
	<div class="col-md-4">
	

		<form action="" method="post" class="form" role="form">
	    {{ form.hidden_tag() }}
	    {{ form.title.label(class="control-label") }}
	    <div class='form-group required'>
	    {{ form.title(required=True,class="form-control",placeholder="Title input") }}
	    </div>
	    {{form.brief.label(class="control-label")}}
	    <div class='form-group required'>
	   	{{ form.brief(required=True,cols=10, rows=10, class='form-control',style="height:80px;") }}
	    </div>
	    {{ form.content.label(class="control-label") }}
	    <div class='form-group required'>
	   	{{ form.content(required=True,cols=50, rows=20, class='form-control',style="width:800px;") }}
	    </div>
	    {{ form.submit(class="btn btn-primary") }}
		</form>

	</div>

</div>	
{% endblock %}