{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_pages.html" as page %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}

<div class="row">

        <div class="col-sm-8 blog-main">

          
        {% for post in posts %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{url_for('.detail',p_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{post.timestamp}}  by {{post.author}} 
              {% if current_user.username==post.author%} <a href="{{url_for('.edit',p_id=post.id)}}">Edit</a> 
              | 
              <a href="{{url_for('.delete',p_id=post.id)}}">Del</a>
              {%endif%}
            </p>
            <hr>
            <p>{{post.brief|safe}}</p>
          </div><!-- /.blog-post -->
          {% endfor %}
          <div class="pagination">
          {{ page.pagination_widget(pagination, '.index') }}
          </div>
        </div><!-- /.blog-main -->
        
       {% include 'sidebar.html'%}

 </div><!-- /.row -->

{% endblock %}